<h1>@ViewBag.ShownDish.Name</h1>
<h2>@ViewBag.ShownDish.Chef</h2>

<h1>------------------------</h1>

<h3>@ViewBag.ShownDish.Description</h3>
<h2>Calories: @ViewBag.ShownDish.Calories</h2>
<h2>Tastiness: @ViewBag.ShownDish.Tastiness</h2>

<a href="/edit/@ViewBag.ShownDish.DishId"><button>Edit</button></a>
<a href="/delete/@ViewBag.ShownDish.DishId"><button>Delete</button></a>